<div class="form-group" style="text-align: right;padding-right: 100px;">
    <a class="btn btn-success" routerLink="/home">Printer Data</a>
</div>

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h1 style="text-align: left;">Printer-form</h1>
            </div>
            <div class="card-body">
                <form class="form" #printerForm = "ngForm" (ngSubmit) = "onClickSubmit(printerForm.value)"> 
                    <div style="padding-left: 15px;padding-right: 15px;" mx-auto>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="PrinterName">Printer Name</label>
                                <input  name="printerName" type="text" class="form-control"   placeholder="Printer Name" ngModel>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="PrinterDistrict">Printer District</label>
                                <select id="printerDistrict" class="form-control" name="printerDistrict" ngModel>
                                    <option value="0" selected>Choose...</option>
                                    <option value="ANANTAPUR">ANANTAPUR</option>
                                    <option value="CHITTOOR">CHITTOOR</option>
                                    <option value="EAST GODAVARI">EAST GODAVARI</option>
                                    <option value="GUNTUR">GUNTUR</option>
                                    <option value="KADAPA">KADAPA</option>
                                    <option value="KRISHNA">KRISHNA</option>
                                    <option value="KURNOOL">KURNOOL</option>
                                    <option value="NELLORE">NELLORE</option>
                                    <option value="PRAKASAM">PRAKASAM</option>
                                    <option value="SRIKAKULAM">SRIKAKULAM</option>
                                    <option value="VISAKHAPATNAM">VISAKHAPATNAM</option>
                                    <option value="VIZIANAGARAM">VIZIANAGARAM</option>
                                    <option value="WEST GODAVARI">WEST GODAVARI</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="PrinterAddress">Printer Address</label>
                            <input type="text" class="form-control" id="printerAddress" name="printerAddress" placeholder="1234 Main St" ngModel>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="printerEmail">Printer Email</label>
                                <input type="email" class="form-control" id="printerEmail" name="printerEmail" placeholder="Printer Email" ngModel>
                            </div>
                            <div class="form-group col-md-2" style="padding-top: 30px;">
                                <label></label>
                                <button type="submit" class="btn btn-primary">SAVE</button>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
    <div>