<div class="row">
  <div class="col-md-6 mx-auto" style="text-align: left;padding-left: 68px;">
    <h6 id="msg" style="color: green;" [style.display]="successMsg ? 'block' : 'none'">{{msg}}</h6>
  </div>
  <div class="col-md-6 mx-auto">
    <div style="text-align: right;padding-right: 51px;">
      <a class="btn btn-success" routerLink="/printerForm">Add New Printer</a>
    </div>
  </div>
</div>

<br>
<div style="padding-right: 50px;padding-left: 50px;">
  <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0"
    style="padding-left: 20px;">
    <thead>
      <tr>
        <th class="th-sm">Printer Name</th>
        <th class="th-sm">Printer District</th>
        <th class="th-sm">Printer Address</th>
        <th class="th-sm">Printer Email</th>
        <th class="th-sm">Update Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tiger Nixon</td>
        <td>System Architect</td>
        <td>Edinburgh</td>
        <td>61</td>
        <td>
          <button class="btn btn-lg btn-outline-primary" style="font-size:10px" (click)="show()">
            EDIT
          </button>&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-lg btn-outline-primary" style="font-size:10px" (click)="deleteRow()">DELETE</button>
        </td>

      </tr>
      <tr>
        <td>Garrett Winters</td>
        <td>Accountant</td>
        <td>Tokyo</td>
        <td>63</td>
      </tr>
      <tr>
        <td>Ashton Cox</td>
        <td>Junior Technical Author</td>
        <td>San Francisco</td>
        <td>66</td>
      </tr>
      <tr>
        <td>Cedric Kelly</td>
        <td>Senior Javascript Developer</td>
        <td>Edinburgh</td>
        <td>22</td>
      </tr>
      <tr>
        <td>Airi Satou</td>
        <td>Accountant</td>
        <td>Tokyo</td>
        <td>33</td>
      </tr>
      <tr>
        <td>Tatyana Fitzpatrick</td>
        <td>Regional Director</td>
        <td>London</td>
        <td>19</td>
      </tr>
      <tr>
        <td>Gavin Cortez</td>
        <td>Team Leader</td>
        <td>San Francisco</td>
        <td>22</td>
      </tr>
      <tr>
        <td>Martena Mccray</td>
        <td>Post-Sales support</td>
        <td>Edinburgh</td>
        <td>46</td>
      </tr>
      <tr>
        <td>Unity Butler</td>
        <td>Marketing Designer</td>
        <td>San Francisco</td>
        <td>47</td>
      </tr>
      <tr>
        <td>Howard Hatfield</td>
        <td>Office Manager</td>
        <td>San Francisco</td>
        <td>51</td>
      </tr>
      <tr>
        <td>Hope Fuentes</td>
        <td>Secretary</td>
        <td>San Francisco</td>
        <td>41</td>
      </tr>
      <tr>
        <td>Vivian Harrell</td>
        <td>Financial Controller</td>
        <td>San Francisco</td>
        <td>62</td>
      </tr>
      <tr>
        <td>Timothy Mooney</td>
        <td>Office Manager</td>
        <td>London</td>
        <td>37</td>

      </tr>
      <tr>
        <td>Jackson Bradshaw</td>
        <td>Director</td>
        <td>New York</td>
        <td>65</td>
      </tr>
      <tr>
        <td>Olivia Liang</td>
        <td>Support Engineer</td>
        <td>Singapore</td>
        <td>64</td>
      </tr>
      <tr>
        <td>Bruno Nash</td>
        <td>Software Engineer</td>
        <td>London</td>
        <td>38</td>
      </tr>
      <tr>
        <td>Sakura Yamamoto</td>
        <td>Support Engineer</td>
        <td>Tokyo</td>
        <td>37</td>
      </tr>
      <tr>
        <td>Thor Walton</td>
        <td>Developer</td>
        <td>New York</td>
        <td>61</td>
      </tr>
      <tr>
        <td>Finn Camacho</td>
        <td>Support Engineer</td>
        <td>San Francisco</td>
        <td>47</td>
      </tr>
      <tr>
        <td>Serge Baldwin</td>
        <td>Data Coordinator</td>
        <td>Singapore</td>
        <td>64</td>
      </tr>
      <tr>
        <td>Zenaida Frank</td>
        <td>Software Engineer</td>
        <td>New York</td>
        <td>63</td>
      </tr>
      <tr>
        <td>Zorita Serrano</td>
        <td>Software Engineer</td>
        <td>San Francisco</td>
        <td>56</td>
      </tr>
      <tr>
        <td>Jennifer Acosta</td>
        <td>Junior Javascript Developer</td>
        <td>Edinburgh</td>
        <td>43</td>
      </tr>
      <tr>
        <td>Cara Stevens</td>
        <td>Sales Assistant</td>
        <td>New York</td>
        <td>46</td>
      </tr>
      <tr>
        <td>Hermione Butler</td>
        <td>Regional Director</td>
        <td>London</td>
        <td>47</td>
      </tr>
      <tr>
        <td>Lael Greer</td>
        <td>Systems Administrator</td>
        <td>London</td>
        <td>21</td>
      </tr>
      <tr>
        <td>Jonas Alexander</td>
        <td>Developer</td>
        <td>San Francisco</td>
        <td>30</td>
      </tr>
      <tr>
        <td>Shad Decker</td>
        <td>Regional Director</td>
        <td>Edinburgh</td>
        <td>51</td>
      </tr>
      <tr>
        <td>Michael Bruce</td>
        <td>Javascript Developer</td>
        <td>Singapore</td>
        <td>29</td>
      </tr>
      <tr>
        <td>Donna Snider</td>
        <td>Customer Support</td>
        <td>New York</td>
        <td>27</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>
<div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog" style="max-width: 700px;">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="card-header">
        <h1 style="text-align: left;">Edit Printer Data
          <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button></h1>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <form class="form" #printerForm="ngForm" (ngSubmit)="onClickSubmit(printerForm.value)">
          <div mx-auto>
            <div class="form-row">
              <div class="form-group">
                <label for="PrinterName">Printer Name</label>
                <input name="printerName" type="text" class="form-control" placeholder="Printer Name" style="width: 409px;" ngModel>
              </div>&nbsp;&nbsp;&nbsp;
              <div class="form-group">
                <label for="PrinterDistrict">Printer District</label>
                <select id="printerDistrict" class="form-control" name="printerDistrict" style="width: 250px;" ngModel>
                  <option value="0" selected>Choose...</option>
                  <option value="ANANTAPUR">ANANTAPUR</option>
                  <option value="CHITTOOR">CHITTOOR</option>
                  <option value="EAST GODAVARI">EAST GODAVARI</option>
                  <option value="GUNTUR">GUNTUR</option>
                  <option value="KADAPA">KADAPA</option>
                  <option value="KRISHNA">KRISHNA</option>
                  <option value="KURNOOL">KURNOOL</option>
                  <option value="NELLORE">NELLORE</option>
                  <option value="PRAKASAM">PRAKASAM</option>
                  <option value="SRIKAKULAM">SRIKAKULAM</option>
                  <option value="VISAKHAPATNAM">VISAKHAPATNAM</option>
                  <option value="VIZIANAGARAM">VIZIANAGARAM</option>
                  <option value="WEST GODAVARI">WEST GODAVARI</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="PrinterAddress">Printer Address</label>
            <input type="text" class="form-control" id="printerAddress" name="printerAddress" placeholder="1234 Main St"
              ngModel>
          </div>
          <div class="form-row">
            <div class="form-group">
              <label for="printerEmail">Printer Email</label>
              <input style="width: 409px;" type="email" class="form-control" id="printerEmail" name="printerEmail" placeholder="Printer Email"
                ngModel>
            </div>
            <div class="form-group" style="padding-top: 32px;padding-left:10px;">
              <label></label>
              <button type="submit" class="btn btn-primary">UPDATE</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="hide()">Close</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>